<!DOCTYPE html>
<html lang="es">
	<head>
		<title> Cifrar cadenas con factory de Angularjs</title>
		<link rel="stylesheet" href="estilos.css" />
		<script src="js/google-crypto-aes.min.js" type="text/javascript"></script>
		<script src="https://code.angularjs.org/1.5.8/angular.js" type="text/javascript"></script>
		<script src="js/app.js" type="text/javascript"></script>
		<script src="js/service.js" type="text/javascript"></script>
	</head>
	<body ng-app="App">
		<div ng-controller="ctrlCifrar">
			<br>
			<h3>Cifrar Cadena</h3>
			<input type="text" ng-model="mdlCadena" ng-keyup="CifrarCadena()"/>
			<br>
			<br>
			<h3>Cadena cifrada a Base64</h3>
			<label>{{cadenaCifrada}}</label>
			<br>
			<br>
			<h3>Descifrar Base64</h3>
			<input type="button" value=" Descifrar " ng-click="DescifrarBase64()">
			<label>{{cadenaDescifrada}}</label>
		</div>
	</body>
</html>
